# IDE
.idea
.vscode

# Environment
.env

# NPM
node_modules

# SSL
/proxy/acme
/proxy/ssl

# Hugging Face cache
/models/.huggingface

# Docker
docker-compose.override.yml

# Extras (for cluster extensions)
/extra

# Temporary files
*.backup
*.bak
*.log
*.tmp
log
logs
temp
tmp
